{% extends 'nav.html' %} Easy Gardening login {% block style %}
<style>
  .btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
  }
  .btn:hover {
    background-color: black;
    color: white;
  }
</style>
{% endblock style %} {% block body %}
<!-- Background image -->
<div class="container my-5">
  <!-- Jumbotron -->
  <div
    class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-dark"
    style="
      background-image: url('https://plus.unsplash.com/premium_photo-1673468196475-6ff05c0d2910?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1200&q=110');
    "
  >
    <h1 class="mb-3 h2"></h1>

    <!-- Jumbotron -->

    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title" data-aos="fade">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <br />
              <br />

              <h1 data-aos="fade-up">Login</h1>

              <div
                class="container"
                data-aos="fade-up"
                data-aos-delay="400"
              ></div>

              {% for message in messages %}
              <div
                class="alert alert-{{messages.tags}} alert-dismissible fade show"
                role="alert"
              >
                <strong></strong> {{message}}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              {% endfor %}

              <form action="/authen/login/" method="post">
                {% csrf_token %}

                <br />

                <div class="form-group">
                  <label for="email" class="form-label">Email address</label>
                  <br />
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="password" class="form-label">Password</label>
                  <br />
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                  />
                </div>

                <br />
                <button type="submit" class="btn">Login</button>
                <br />
                Not a user? <a href="/authen/signup/">Signup</a>
                <br />
                <span>Forgot Password? <a href="/login">Reset</a></span>
                <br />
                <a href="/">Home</a>
              </form>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock body %}
